node_modules
**/node_modules
.next
**/.next
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo
.turbo
**/.turbo
coverage
**/coverage
.git
.env
.env.*
!.env.example
*.log
.vscode
.idea
playwright-report
test-results
